.popup__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 28px;
    max-width: 238px;
    color: #000000;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.popup__item:first-child {
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .popup__item {
        max-width: 358px;
    }
}